body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0, 0, 0, 0.897);
    color: #FFFFFF;
    overflow-x: hidden;
    font-size: 22px;
}

h1{
    font-size: 60px;
    text-align: center;
}

h2{
    font-size: 40px;
    text-align: center;
    border-style: solid;
    border-color: #000000;

}

.container
{
    width: 50%;
    margin: 0 auto;
}
.justify{
    text-align: justify;
    width: 3000px;
    white-space: normal;
}

p{
    font-size: 20px;
    
}

button { 
    font-size: 20px;
    text-align: top right;
}

#login {
    padding: 10px 20px; /* Espaçamento interno (topo/baixo, esquerda/direita) */
    font-size: 16px; /* Tamanho da fonte */
    background-color: white; /* Cor de fundo (dourado) */
    color: black; /* Cor do texto (branco) */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Cantos arredondados */
    margin: 10px; /* Espaçamento entre os botões */
    text-decoration: none; /* Remove sublinhado do link */
    position: absolute;
    top: 10px;
    right: 110px;
}

#register{
    padding: 10px 20px; /* Espaçamento interno (topo/baixo, esquerda/direita) */
    font-size: 16px; /* Tamanho da fonte */
    background-color: white; /* Cor de fundo (azul) */
    color: BLACK; /* Cor do texto (branco) */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Cantos arredondados */
    margin: 10px; /* Espaçamento entre os botões */
    text-decoration: none; /* Remove sublinhado do link */
    position: absolute;
    top: 10px;
    right: 10px;
}

#back {
    padding: 10px 20px; /* Espaçamento interno (topo/baixo, esquerda/direita) */
    font-size: 16px; /* Tamanho da fonte */
    background-color: white; /* Cor de fundo (azul) */
    color: #FFFFFF; /* Cor do texto (branco) */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Cantos arredondados */
    margin: 10px; /* Espaçamento entre os botões */
    text-decoration: none; /* Remove sublinhado do link */
    position: absolute;
    top: 10px;
    left: 10px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow: hidden;
    width: 100%;
  }
  
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
nav ul li {
    float: left;
  }
  
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 19px;
    text-decoration: none;
  }
  
nav ul li a:hover {
    background-color: #111;
  }

#login-link{
  float: right;
  margin-left: 1300px;
}
