body{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura da viewport */
    margin: 0;
}

h1{
    font-size: 60px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label{
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-size: 40px;
    text-align: center;
    border-style: solid;
    border-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    font-size: 20px;
    text-align: top right;
}

#login {
    padding: 10px 20px; /* Espaçamento interno (topo/baixo, esquerda/direita) */
    font-size: 16px; /* Tamanho da fonte */
    background-color: #00d91d; /* Cor de fundo (azul) */
    color: #FFFFFF; /* Cor do texto (branco) */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Cantos arredondados */
    margin: 10px; /* Espaçamento entre os botões */
    text-decoration: none; /* Remove sublinhado do link */
    position: absolute;
    top: 10px;
    right: 110px;
}

#register{
    padding: 10px 20px; /* Espaçamento interno (topo/baixo, esquerda/direita) */
    font-size: 16px; /* Tamanho da fonte */
    background-color: #00d91d; /* Cor de fundo (azul) */
    color: #FFFFFF; /* Cor do texto (branco) */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Cantos arredondados */
    margin: 10px; /* Espaçamento entre os botões */
    text-decoration: none; /* Remove sublinhado do link */
    position: absolute;
    top: 10px;
    right: 10px;
}

#back {
    padding: 10px 20px; /* Espaçamento interno (topo/baixo, esquerda/direita) */
    font-size: 16px; /* Tamanho da fonte */
    background-color: #00d91d; /* Cor de fundo (azul) */
    color: #FFFFFF; /* Cor do texto (branco) */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Cantos arredondados */
    margin: 10px; /* Espaçamento entre os botões */
    text-decoration: none; /* Remove sublinhado do link */
    position: absolute;
    top: 10px;
    left: 10px;
}

form {
    border: 3px solid #f1f1f1;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover {
    opacity: 0.8;
}